[Unit]
Description=steward file index service

[Service]
ExecStart=%h/.local/bin/stewardd
Restart=on-failure
Nice=10
IOSchedulingClass=idle

[Install]
WantedBy=default.target
